<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vdcp="http://typo3.org/ns/Vd/VdClimatePolicy/ViewHelpers">
    <f:section name="Default">
        <div class="vd-climate-policy">
            <f:for as="record" each="{records}">
                <div class="card card-{record.sector.0.uid} mb-3" style="background-color: {record.pecc.0.color}">
                    <div class="card-body pb-1">
                        <h3 class="card-title mt-0">{record.name}</h3>
                        <div class="row">
                            <div class="col-md-3"><strong><vdcp:translate id="cities"/></strong></div>
                            <div class="col-md-9">{record.cities}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><strong><vdcp:translate id="links"/></strong></div>
                            <div class="col-md-9">
                                <f:for as="link" each="{record.links}">
                                    <f:link.typolink parameter="{link.link}">{link.text}</f:link.typolink>
                                </f:for>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><strong><vdcp:translate id="peccFile"/></strong></div>
                            <div class="col-md-9">
                                <span class="square-pecc">{record.pecc.0.number}</span>&nbsp;{record.pecc.0.name}
                            </div>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:section>
</html>
