<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <form>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label form-label">
                <f:translate id="LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:profession.liste.nomMasc"/>
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {profession.nomMasc}
                </p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label form-label">
                <f:translate id="LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:profession.liste.nomFem"/>
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {profession.nomFem}
                </p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label form-label">
                <f:translate id="LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:profession.form.titreDelivre"/>
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {profession.titreDelivre.diplome}
                </p>
            </div>
        </div>
        <f:if condition="{profession.niveauCnc}">
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label form-label">
                    <f:translate id="LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:profession.form.niveauCnc"/>
                </label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {profession.niveauCnc}
                    </p>
                </div>
            </div>
        </f:if>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label form-label">
                <f:translate id="LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:profession.form.anciennesDenominations"/>
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {profession.anciennesDenominations}
                </p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label form-label">
                <f:translate id="LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:profession.form.remarques"/>
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    {profession.remarques}
                </p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label form-label">
                <f:translate id="LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:label.date_maj"/>
            </label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    <f:format.date format="{f:translate(id: 'LLL:EXT:vd_ocosp/Resources/Private/Language/locallang_frontend.xlf:label.date_heure.format')}">{profession.tstamp}</f:format.date>
                </p>
            </div>
        </div>
    </form>
</html>
