<!--  ###CHAMPS_SAISIE### START -->
<div class="corps_calculette">
    <h2 id="h2_vd_calculette_saisie">Calculer vos impôts communal, cantonal et fédéral</h2>
    <form id="tx_vdsqlicalculetteaci_pi1" action="###FORM_ACTION###" method="post">
        <fieldset class="mb-3">
            <legend><strong>Données de base</strong></legend>
            <div class="margin-bottom-10"><strong>Cocher ce qui convient</strong></div>

            <div class="form-check">
                <label class="form-check-label" for="tx_vdsqlicalculetteaci_pi1_calculICC">
                    <input class="form-check-input" type="checkbox" id="tx_vdsqlicalculetteaci_pi1_calculICC" name="tx_vdsqlicalculetteaci_pi1[calculICC]"
                           onclick="javascript:vdsqlicalculetteaci_manager.hideAndSetButtons(this);" ###CALCUL_ICC_SELECTED### >
                    Je désire effectuer une simulation de l'impôt cantonal, communal sur le revenu et la fortune
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="tx_vdsqlicalculetteaci_pi1_calculIFD">
                    <input class="form-check-input" type="checkbox" id="tx_vdsqlicalculetteaci_pi1_calculIFD" name="tx_vdsqlicalculetteaci_pi1[calculIFD]"
                           onclick="javascript:vdsqlicalculetteaci_manager.hideAndSetButtons(this);" ###CALCUL_IFD_SELECTED###>
                    Je désire effectuer une simulation de l'impôt fédéral direct
                </label>
            </div>
            <div class="form-check repartition_element ###REPARTITION_HIDDEN_CLASS###">
                <label class="form-check-label repartition_element ###REPARTITION_HIDDEN_CLASS###" for="tx_vdsqlicalculetteaci_pi1_repartition">
                    <input class="form-check-input repartition_element ###REPARTITION_HIDDEN_CLASS###" type="checkbox"
                           id="tx_vdsqlicalculetteaci_pi1_repartition" name="tx_vdsqlicalculetteaci_pi1[repartition]"
                           onclick="javascript:vdsqlicalculetteaci_manager.hideAndSetButtons(this);" ###REPARTITION_SELECTED###>
                    Je désire effectuer une simulation de l'impôt comprenant des éléments dans un autre canton/pays (répartition intercantonale/internationale)
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="tx_vdsqlicalculetteaci_pi1_impotDistinct">
                    <input class="form-check-input" type="checkbox" id="tx_vdsqlicalculetteaci_pi1_impotDistinct"
                           name="tx_vdsqlicalculetteaci_pi1[impotDistinct]" onclick="javascript:vdsqlicalculetteaci_manager.hideAndSetButtons(this);" ###IMPOT_DISTINCT_SELECTED###>
                    Je désire effectuer une simulation de l'impôt distinct sur les prestations en capital provenant de la prévoyance
                </label>
            </div>

            <div class="row">
                <div class="col-sm-4"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_periode">Année fiscale</label></div>
                <div class="col-sm-8">
                    <select class="form-control" id="tx_vdsqlicalculetteaci_pi1_periode" name="tx_vdsqlicalculetteaci_pi1[periode]" onChange="vdsqlicalculetteaci_manager.onPeriodeChange();">
                        <option></option>
                        ###OPTIONS_PERIODE###
                    </select>
                </div>
            </div>
            <div class="row" id="commune-container" style="display: none;">
                <div class="col-sm-4"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_commune">Commune</label></div>
                <div class="col-sm-8">
                    <select class="form-control" id="tx_vdsqlicalculetteaci_pi1_commune" name="tx_vdsqlicalculetteaci_pi1[commune]">
                    </select>
                    <select class="form-control" style="display: none;" id="tx_vdsqlicalculetteaci_pi1_commune_reference" name="tx_vdsqlicalculetteaci_pi1[commune_reference]">
                        <option></option>
                        ###OPTIONS_COMMUNE###
                    </select>
                    <div id="tx_vdsqlicalculetteaci_pi1_commune_HelpChanged" class="hidden" aria-hidden="true">
                        <small class="form-text text-secondary distinct_dependent comment">Attention la commune n'existe pas pour cette période</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_etatCivil">État civil</label></div>
                <div class="col-sm-8">
                    <select class="form-control" onchange="javascript:vdsqlicalculetteaci_manager.coherenceSelectionFamille(this);" id="tx_vdsqlicalculetteaci_pi1_etatCivil" name="tx_vdsqlicalculetteaci_pi1[etatCivil]">
                        ###OPTIONS_ETAT_CIVIL###
                    </select>
                </div>
            </div>

            <div class="form-group2 not_distinct ###NOT_DISTINCT###">
                <!-- Gestion du quotien par enfant -->
                <div class="row">
                    <div class="col-sm-8"><label for="tx_vdsqlicalculetteaci_pi1_noEnfants" class="form-label not_distinct ###NOT_DISTINCT### ">Nombre d'enfants, quotient complet</label></div>
                    <div class="col-sm-4">
                        <select class="form-control not_distinct ###NOT_DISTINCT### " onchange="javascript:vdsqlicalculetteaci_manager.coherenceSelectionFamille(this);"
                            id="tx_vdsqlicalculetteaci_pi1_noEnfants" name="tx_vdsqlicalculetteaci_pi1[noEnfants]">
                            ###OPTIONS_NO_ENFANTS###
                        </select>
                    </div>
                </div>
                <!-- Gestion du demi quotien par enfant -->
                <div class="row">
                    <div class="col-sm-8"><label for="tx_vdsqlicalculetteaci_pi1_noEnfantsDemiQuotient" class="form-label not_distinct ###NOT_DISTINCT### ">Nombre d'enfants avec 1/2 quotient</label></div>
                    <div class="col-sm-4">
                    <select class="form-control not_distinct ###NOT_DISTINCT### " onchange="javascript:vdsqlicalculetteaci_manager.coherenceSelectionFamille(this);"
                            id="tx_vdsqlicalculetteaci_pi1_noEnfantsDemiQuotient" name="tx_vdsqlicalculetteaci_pi1[noEnfantsDemiQuotient]">
                        ###OPTIONS_NO_ENFANTS_DEMI_QUOTIENT###
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8"><label for="tx_vdsqlicalculetteaci_pi1_noEnfantsMenage" class="form-label not_distinct ###NOT_DISTINCT### ">dont enfant(s) faisant ménage commun</label></div>
                    <div class="col-sm-4">
                        <select class="form-control not_distinct ###NOT_DISTINCT### " onchange="javascript:vdsqlicalculetteaci_manager.coherenceSelectionFamille(this);"
                                id="tx_vdsqlicalculetteaci_pi1_noEnfantsMenage" name="tx_vdsqlicalculetteaci_pi1[noEnfantsMenage]">
                            ###OPTIONS_NO_ENFANTS_MENAGE###
                        </select>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card card-block card-inverse card-danger err_mono error ###ERR_MONO###">
                        <p class="card-text">Une famille monoparentale comprend au moins un enfant dans le ménage. Veuillez vérifier et corriger la saisie s.v.p.</p>
                    </div>
                    <div class="card card-block card-inverse card-danger err_enfants error ###ERR_ENFANTS###">
                        <p class="card-text">Le nombre d'enfant en ménage commun est supérieur au nombre d'enfant total. Veuillez vérifier et corriger la saisie s.v.p.</p>
                    </div>
                </div>
            </div>
        </fieldset>

        <hr class="vd-separator vd-separator-green-pattern">

        <fieldset class="mb-3">
            <legend><strong>Données financières</strong></legend>
            <div class="row" id="revenuImposableICC_err-danger">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_revenuImposableICC">Revenu imposable ICC</label></div>
                <div class="col-sm-6">
                    <!--[if IE 8]>
                    <input class="form-control form-control-danger" aria-describedby="revenuImposableICCHelp" aria-invalid="true" ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_revenuImposableICC');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'revenuImposableICC_err');"
                           maxlength="11"
                           autocomplete="off"
                           type="number" id="tx_vdsqlicalculetteaci_pi1_revenuImposableICC"
                           name="tx_vdsqlicalculetteaci_pi1[revenuImposableICC]" value="###REVENU_IMPOSABLE_ICC###">
                    <![endif]-->
                    <!--[if !IE 8]><!-->
                    <input class="form-control form-control-danger" aria-describedby="revenuImposableICCHelp" aria-invalid="true" ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_revenuImposableICC');"
                           autocomplete="off"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'revenuImposableICC_err','tx_vdsqlicalculetteaci_pi1_revenuImposableICC');"
                           maxlength="11"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_revenuImposableICC"
                           name="tx_vdsqlicalculetteaci_pi1[revenuImposableICC]" value="###REVENU_IMPOSABLE_ICC###" />
                    <!--<![endif]-->

                    <div id="revenuImposableICCHelp" class="hidden error revenuImposableICC_err">
                        <small class="form-text text-secondary">Veuillez saisir une valeur numérique s.v.p</small>
                    </div>
                    <div id="revenuImposableICCHelpText" class="hidden revenuImposableICC_err">
                        <small class="form-text text-secondary distinct_dependent comment ###DISTINCT_DESELECTED###">Le revenu imposable est égal au total de la somme que vous avez touchée au titre de prestation en capital LPP</small>
                    </div>
                </div>
            </div>
            <div class="row" id="tauxrevenuImposableICC_err-danger">
                <div class="col-sm-6"><label class="form-label repartition_dependent ###REPARTITION_DESELECTED###" for="tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableICC">Revenu global ICC</label></div>
                <div class="col-sm-6">
                <!--[if IE 8]>
                <input aria-describedby="tauxRevenuImposableICCHelp" aria-invalid="true" class="form-control form-control-danger repartition_dependent ###REPARTITION_DESELECTED###"
                       maxlength="11"
                       autocomplete="off"
                       ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableICC');"
                       onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'tauxrevenuImposableICC_err','tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableICC');"
                       type="text" id="tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableICC" name="tx_vdsqlicalculetteaci_pi1[tauxRevenuImposableICC]"
                       value="###TAUX_REVENU_IMPOSABLE_ICC###" />
                <![endif]-->
                <!--[if !IE 8]><!-->
                <input aria-describedby="tauxRevenuImposableICCHelp" aria-invalid="true" class="form-control form-control-danger repartition_dependent ###REPARTITION_DESELECTED###"
                       autocomplete="off"
                       maxlength="11"
                       ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableICC');"
                       onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'tauxrevenuImposableICC_err','tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableICC');"
                       type="text" id="tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableICC" name="tx_vdsqlicalculetteaci_pi1[tauxRevenuImposableICC]"
                       value="###TAUX_REVENU_IMPOSABLE_ICC###" />
                <!--<![endif]-->

                <div id="tauxRevenuImposableICCHelp" class="hidden tauxrevenuImposableICC_err">
                    <small class="form-text text-secondary">Veuillez saisir une valeur numérique s.v.p</small>
                </div>
                </div>
            </div>
            <div class="row not_distinct ###NOT_DISTINCT###" id="fortuneImposableICC_err-danger">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_fortuneImposableICC">Fortune imposable ICC</label></div>
                <div class="col-sm-6">
                    <!--[if IE 8]>
                    <input aria-describedby="fortuneImposableICCHelp" aria-invalid="true" class="form-control form-control-danger"
                           maxlength="11"
                           autocomplete="off"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_fortuneImposableICC');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'fortuneImposableICC_err', 'tx_vdsqlicalculetteaci_pi1_fortuneImposableICC');"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_fortuneImposableICC"
                           name="tx_vdsqlicalculetteaci_pi1[fortuneImposableICC]" value="###FORTUNE_IMPOSABLE_ICC###"  />
                    <![endif]-->
                    <!--[if !IE 8]><!-->
                    <input aria-describedby="fortuneImposableICCHelp" aria-invalid="true" class="form-control form-control-danger"
                           autocomplete="off"
                           maxlength="11"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_fortuneImposableICC');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'fortuneImposableICC_err', 'tx_vdsqlicalculetteaci_pi1_fortuneImposableICC');"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_fortuneImposableICC"
                           name="tx_vdsqlicalculetteaci_pi1[fortuneImposableICC]" value="###FORTUNE_IMPOSABLE_ICC###" />
                    <!--<![endif]-->
                    <div id="fortuneImposableICCHelp" class="hidden fortuneImposableICC_err">
                        <small class="form-text text-secondary">Veuillez saisir une valeur numérique s.v.p</small>
                    </div>
                </div>
            </div>
            <div class="row" id="tauxfortuneImposableICC_err-danger">
                <div class="col-sm-6"><label class="form-label repartition_dependent ###REPARTITION_DESELECTED###" for="tx_vdsqlicalculetteaci_pi1_tauxFortuneImposableICC">Fortune globale ICC</label></div>
                <div class="col-sm-6">
                    <!--[if IE 8]>
                    <input aria-describedby="tauxFortuneImposableICCHelp" aria-invalid="true" class="form-control form-control-danger repartition_dependent ###REPARTITION_DESELECTED###"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_tauxFortuneImposableICC');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'tauxfortuneImposableICC_err', 'tx_vdsqlicalculetteaci_pi1_tauxFortuneImposableICC');"
                           maxlength="11"
                           autocomplete="off"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_tauxFortuneImposableICC"
                           name="tx_vdsqlicalculetteaci_pi1[tauxFortuneImposableICC]" value="###TAUX_FORTUNE_IMPOSABLE_ICC###"/>
                    <![endif]-->
                    <!--[if !IE 8]><!-->
                    <input aria-describedby="tauxFortuneImposableICCHelp" aria-invalid="true" class="form-control form-control-danger repartition_dependent ###REPARTITION_DESELECTED###"
                           autocomplete="off"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_tauxFortuneImposableICC');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'tauxfortuneImposableICC_err', 'tx_vdsqlicalculetteaci_pi1_tauxFortuneImposableICC');"
                           maxlength="11"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_tauxFortuneImposableICC"
                           name="tx_vdsqlicalculetteaci_pi1[tauxFortuneImposableICC]" value="###TAUX_FORTUNE_IMPOSABLE_ICC###" />
                    <!--<![endif]-->
                    <div id="tauxFortuneImposableICCHelp" class="hidden tauxfortuneImposableICC_err">
                        <small class="form-text text-secondary">Veuillez saisir une valeur numérique s.v.p</small>
                    </div>
                </div>
            </div>

            <div class="row" id="revenuImposableIFD_err-danger">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_revenuImposableIFD">Revenu imposable IFD</label></div>
                <div class="col-sm-6">
                    <!--[if IE 8]>
                    <input aria-describedby="revenuImposableIFDHelp" aria-invalid="true" class="form-control form-control-danger"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_revenuImposableIFD');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'tauxfortuneImposableICC_err', 'tx_vdsqlicalculetteaci_pi1_revenuImposableIFD');"
                           maxlength="11"
                           autocomplete="off"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_revenuImposableIFD"
                           name="tx_vdsqlicalculetteaci_pi1[revenuImposableIFD]" value="###REVENU_IMPOSABLE_IFD###"/>
                    <![endif]-->
                    <!--[if !IE 8]><!-->
                    <input aria-describedby="revenuImposableIFDHelp" aria-invalid="true" class="form-control form-control-danger"
                           autocomplete="off"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_revenuImposableIFD');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'revenuImposableIFD_err', 'tx_vdsqlicalculetteaci_pi1_revenuImposableIFD');"
                           maxlength="11"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_revenuImposableIFD"
                           name="tx_vdsqlicalculetteaci_pi1[revenuImposableIFD]" value="###REVENU_IMPOSABLE_IFD###"/>
                    <!--<![endif]-->
                    <div id="revenuImposableIFDHelp" class="hidden revenuImposableIFD_err">
                        <small class="form-text text-secondary">Veuillez saisir une valeur numérique s.v.p</small>
                    </div>
                    <div id="revenuImposableIFDHelpText" class="hidden revenuImposableIFD_err">
                        <small class="form-text text-secondary distinct_dependent comment ###DISTINCT_DESELECTED###">Le revenu imposable est égal au total de la somme que vous avez touchée au titre de prestation en capital LPP</small>
                    </div>
                </div>
            </div>
            <div class="row" id="tauxrevenuImposableIFD_err-danger">
                <div class="col-sm-6"><label for="tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableIFD" class="form-label repartition_dependent ###REPARTITION_DESELECTED###">Revenu global IFD</label></div>
                <div class="col-sm-6">
                    <!--[if IE 8]>
                    <input aria-describedby="tauxRevenuImposableIFDHelp" aria-invalid="true" class="form-control form-control-danger repartition_dependent ###REPARTITION_DESELECTED###"
                           maxlength="11"
                           autocomplete="off"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableIFD');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'tauxrevenuImposableIFD_err', 'tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableIFD');"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableIFD"
                           name="tx_vdsqlicalculetteaci_pi1[tauxRevenuImposableIFD]" value="###TAUX_REVENU_IMPOSABLE_IFD###"/>
                    <![endif]-->
                    <!--[if !IE 8]><!-->
                    <input aria-describedby="tauxRevenuImposableIFDHelp" aria-invalid="true" class="form-control form-control-danger repartition_dependent ###REPARTITION_DESELECTED###"
                           autocomplete="off"
                           maxlength="11"
                           ondblclick="javascript:vdsqlicalculetteaci_manager.clearId('tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableIFD');"
                           onkeyup="javascript:vdsqlicalculetteaci_manager.checkNumeric(this,'tauxrevenuImposableIFD_err', 'tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableIFD');"
                           type="text" id="tx_vdsqlicalculetteaci_pi1_tauxRevenuImposableIFD"
                           name="tx_vdsqlicalculetteaci_pi1[tauxRevenuImposableIFD]" value="###TAUX_REVENU_IMPOSABLE_IFD###"/>
                    <!--<![endif]-->
                    <div id="tauxRevenuImposableIFDHelp" class="hidden tauxrevenuImposableIFD_err">
                        <small class="form-text text-secondary">Veuillez saisir une valeur numérique s.v.p</small>
                        <small class="form-text text-secondary distinct_dependent comment ###DISTINCT_DESELECTED###">Le revenu imposable est égal au total de la somme que vous avez touchée au titre de prestation en capital LPP</small>
                    </div>
                </div>
            </div>
        </fieldset>

        <hr class="vd-separator vd-separator-green-pattern">

        <fieldset class="mb-3">
            <div class="mb-3">
                <input type="submit" class="btn btn-dark btn-sm" id="tx_vdsqlicalculetteaci_pi1_afficher" name="tx_vdsqlicalculetteaci_pi1[afficher]" value="Afficher le résultat" onclick="javascript:vdsqlicalculetteaci_manager.test_isrepartition();"/>
                <input type="button" class="btn btn-dark btn-sm ms-1" id="tx_vdsqlicalculetteaci_pi1_reset" name="tx_vdsqlicalculetteaci_pi1[reset]" value="Effacer les données" onclick="javascript:vdsqlicalculetteaci_manager.clear();"/>
            </div>
        </fieldset>
        <hr class="vd-separator vd-separator-green-pattern">

        <!--  ###CHAMPS_SAISIE### END -->


        <!--  ###RESULTAT### BEGIN -->
        <h2 id="h2_vd_calculette_resultats">Calcul des impôts cantonaux, communaux et de l'impôt fédéral direct (Estimation)</h2>
        <fieldset class="mb-3">
            <legend><strong>Calcul des impôts cantonaux et communaux (ICC)</strong></legend>
            <div class="row">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_part_familiale">Part résultant de la situation de famille</label></div>
                <div class="col-sm-6">
                <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_part_familiale"
                       name="tx_vdsqlicalculetteaci_pi1[res_part_familiale]" value="###PART_FAMILLE###" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_revenu_taux">Revenu déterminant pour le taux</label></div>
                <div class="col-sm-6">
                <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_revenu_taux"
                       name="tx_vdsqlicalculetteaci_pi1[res_revenu_taux]" value="###REVENU_TAUX###" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Montants imposables</th>
                                <th>Impôt de base</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_revenu_montant_imp">Revenu</label>
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_revenu_montant_imp"
                                           name="tx_vdsqlicalculetteaci_pi1[res_revenu_montant_imp]" value="###REVENU_MONTANT_IMPOSABLE###" />
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_revenu_impot_base"
                                           name="tx_vdsqlicalculetteaci_pi1[res_revenu_impot_base]" value="###REVENU_IMPOT_BASE###" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_fortune_montant_imp">Fortune</label>
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_fortune_montant_imp"
                                           name="tx_vdsqlicalculetteaci_pi1[res_fortune_montant_imp]" value="###FORTUNE_MONTANT_IMPOSABLE###"  />
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_fortune_impot_base"
                                           name="tx_vdsqlicalculetteaci_pi1[res_fortune_impot_base]"
                                           value="###FORTUNE_IMPOT_BASE###" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th colspan="2"></th>
                                <th>
                                    <span class="hidden" for="tx_vdsqlicalculetteaci_pi1_res_revenu_coef_comm">Coefficient</span>
                                    <span for="tx_vdsqlicalculetteaci_pi1_res_revenu_coef_cant">Coefficient</span>
                                </th>
                                <th><span>Charge fiscale</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2">
                                    <label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_revenu_cf_cant">Impôt cantonal sur le revenu</label>
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_revenu_coef_cant"
                                           name="tx_vdsqlicalculetteaci_pi1[res_revenu_coef_cant]" value="###REVENU_COEFICIENT_CANTONAL###" />
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_revenu_cf_cant"
                                           name="tx_vdsqlicalculetteaci_pi1[res_revenu_cf_cant]" value="###REVENU_CHARGE_FISCALE_CANTONAL###" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_revenu_cf_comm">Impôt communal sur le revenu</label>
                                </td>
                                <td class="comment">###COMMUNE_REVENU###</td>
                                <td class="coeff">
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_revenu_coef_comm"
                                           name="tx_vdsqlicalculetteaci_pi1[res_revenu_coeff_comm]" value="###REVENU_COEFICIENT_COMMUNAL###"  />
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_revenu_cf_comm"
                                           name="tx_vdsqlicalculetteaci_pi1[res_revenu_cf_comm]" value="###REVENU_CHARGE_FISCALE_COMMUNAL###" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_fortune_cf_cant">Impôt cantonal sur la fortune</label>
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_fortune_cf_cant"
                                           name="tx_vdsqlicalculetteaci_pi1[res_fortune_cf_cant]" value="###FORTUNE_CHARGE_FISCALE_CANTONAL###"  />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_fortune_cf_comm">Impôt communal sur la fortune</label>
                                </td>
                                <td class="comment">###COMMUNE_FORTUNE###</td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_fortune_cf_comm"
                                           name="tx_vdsqlicalculetteaci_pi1[res_fortune_cf_comm]" value="###FORTUNE_CHARGE_FISCALE_COMMUNAL###"  />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_total_icc">Total des impôts cantonaux et communaux (ICC)</label>
                                </td>
                                <td>
                                    <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_total_icc"
                                           name="tx_vdsqlicalculetteaci_pi1[res_total_icc]" value="###TOTAL_ICC###"  />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>

        <hr class="vd-separator vd-separator-green-pattern">

        <fieldset class="mb-3">
            <legend><strong>Calcul de l'impôt fédéral direct (IFD)</strong></legend>
            <div class="row">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_revenu_ifd">Revenu</label></div>
                <div class="col-sm-6">
                <input class="form-control" type="text" readonly="readonly"
                       id="tx_vdsqlicalculetteaci_pi1_res_revenu_ifd"
                       name="tx_vdsqlicalculetteaci_pi1[res_revenu_ifd]"
                       value="###REVENU_IFD###" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_revenu_base_ifd">Impôt de base</label></div>
                <div class="col-sm-6">
                <input class="form-control" id="tx_vdsqlicalculetteaci_pi1_res_revenu_base_ifd"
                       name="tx_vdsqlicalculetteaci_pi1[res_revenu_base_ifd]"
                       type="text" readonly="readonly"
                       value="###IMPOT_BASE_IFD###" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_rabais_ifd">Rabais d'impôt</label></div>
                <div class="col-sm-6">
                <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_rabais_ifd"
                       name="tx_vdsqlicalculetteaci_pi1[res_rabais_ifd]" value="###RABAIS_IFD###" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_total_ifd">Impôt fédéral direct (IFD)</label></div>
                <div class="col-sm-6">
                <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_total_ifd"
                       name="tx_vdsqlicalculetteaci_pi1[res_total_ifd]" value="###TOTAL_IFD###" />
                </div>
            </div>
        </fieldset>

        <hr class="vd-separator vd-separator-green-pattern">

        <fieldset class="mb-3">
            <legend><strong>Total dû (ICC/IFD)</strong></legend>
            <div class="row">
                <div class="col-sm-6"><label class="form-label" for="tx_vdsqlicalculetteaci_pi1_res_total_icc_ifd">Total dû (ICC/IFD)(sous toutes réserves d'une modification effectuée par l'autorité fiscale)</label></div>
                <div class="col-sm-6">
                <input class="form-control" type="text" readonly="readonly" id="tx_vdsqlicalculetteaci_pi1_res_total_icc_ifd"
                       name="tx_vdsqlicalculetteaci_pi1[res_total_icc_ifd]" value="###TOTAL_ICC_IFD###" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<hr class="vd-separator vd-separator-green-pattern">
<!--  ###RESULTAT### END -->

<!-- ###END_EMPTY_FORM### BEGIN -->
</form>
</div>
</div>
<hr class="vd-separator vd-separator-green-pattern">
<!-- ###END_EMPTY_FORM### END -->

<!--  ###DETAIL_CALCUL### BEGIN -->
<div class="detail_calcul_class">
    <h2>Détail des calculs</h2>
    ###DETAIL_DONNEES_BASE###
    ###DETAIL_IMPOT_REVENU_ICC###
    ###DETAIL_IMPOT_FORTUNE_ICC###
    ###DETAIL_IMPOT_REVENU_IFD###
    ###DETAIL_CAPITAL_DISTINCT###
    ###DETAIL_IMPRESSION###
</div>
<hr class="vd-separator vd-separator-green-pattern">
<!--  ###DETAIL_CALCUL### END -->

<!--  ###VERSION### BEGIN -->
<div id="tx_vdsqlicalculetteaci_pi1_version">###DETAIL_VERSION###</div>
<!--  ###VERSION### END -->

<hr class="vd-separator vd-separator-green-pattern">
