<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <p><f:translate id="find_a_small_ad"/></p>
    <f:form action="list" class="mb-3" hiddenFieldClassName="d-none" object="{demand}" objectName="demand">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="query"><f:translate id="keywords"/></label>
                <f:form.textfield class="form-control" id="query" property="query"/>
            </div>
            <f:if condition="{adTypes}">
                <div class="col-md-4 mb-3">
                    <label for="ad-types"><f:translate id="ad_type"/></label>
                    <f:form.select class="form-select" id="ad-types" options="{adTypes}" optionLabelField="name" optionValueField="name" prependOptionLabel="{f:translate(id: 'all')}" property="adType"/>
                </div>
            </f:if>
            <f:if condition="{objectTypes}">
                <div class="col-md-4 mb-3">
                    <label for="object-types"><f:translate id="object_type"/></label>
                    <f:form.select class="form-select" id="object-types" options="{objectTypes}" optionLabelField="name" optionValueField="name" prependOptionLabel="{f:translate(id: 'all')}" property="objectType"/>
                </div>
            </f:if>
        </div>
        <f:form.button class="btn btn-dark mb-3 mb-sm-0 me-1"><f:translate id="search"/></f:form.button>
        <f:if condition="{demand}">
            <f:link.action action="reset" class="btn btn-secondary mb-3 mb-sm-0">
                <f:translate id="reset"/>
            </f:link.action>
        </f:if>
    </f:form>
    <f:if condition="{smallAds}">
        <f:then>
            <h2 class="mb-1">
                <f:variable name="smallAdsCount" value="{smallAds -> f:count()}"/>
                <f:if condition="{smallAdsCount} > 1">
                    <f:then>
                        <f:translate arguments="{0: smallAdsCount}" id="results_founded"/>
                    </f:then>
                    <f:else>
                        <f:translate id="result_founded"/>
                    </f:else>
                </f:if>
            </h2>
            <f:for as="smallAd" each="{paginator.paginatedItems}">
                <div itemscope itemtype="https://schema.org/Product">
                    <h3 itemprop="name">{smallAd.title}</h3>
                    <f:if condition="{smallAd.cat}">
                        <p class="h4" itemprop="name">{smallAd.cat}</p>
                    </f:if>
                    <div class="row">
                        <f:if condition="{smallAd.image}">
                            <div class="col-md-4 push-md-8">
                                <figure class="figure">
                                    <a href="{f:uri.image(image: smallAd.image)}">
                                        <f:image alt="{smallAd.image.alternative}" class="img-fluid" image="{smallAd.image}" maxHeight="290" maxWidth="290" title="{smallAd.image.title}"/>
                                    </a>
                                </figure>
                            </div>
                        </f:if>
                        <div class="col-md-8">
                            <f:if condition="{smallAd.content}">
                                <div itemprop="description">
                                    <f:format.html>{smallAd.content}</f:format.html>
                                </div>
                            </f:if>
                            <f:if condition="{smallAd.cat2} || {smallAd.crdateexternal}">
                                <dl class="row">
                                    <f:if condition="{smallAd.cat2}">
                                        <dt class="col-md-6"><f:translate id="object_type"/></dt>
                                        <dd class="col-md-6">{smallAd.cat2}</dd>
                                    </f:if>
                                    <f:if condition="{smallAd.crdateexternal}">
                                        <dt class="col-md-6"><f:translate id="date_added"/></dt>
                                        <dd class="col-md-6">{smallAd.crdateexternal -> f:format.date(format: 'd.m.Y')}</dd>
                                    </f:if>
                                </dl>
                            </f:if>
                            <f:if condition="{smallAd.email} || {smallAd.phone}">
                                <ul class="vd-list-icons">
                                    <f:if condition="{smallAd.phone}">
                                        <li>
                                            <span aria-hidden="true" class="fa fa-phone"></span>
                                            <span class="sr-only" title="Téléphone"><f:translate id="phone"/></span>
                                            <a href="tel:{smallAd.phone}" itemprop="phone">{smallAd.phone}</a>
                                        </li>
                                    </f:if>
                                    <f:if condition="{smallAd.displayemail} && {smallAd.email}">
                                        <li>
                                            <span aria-hidden="true" class="fa fa-envelope"></span>
                                            <span class="sr-only"><f:translate id="email"/></span>
                                            <f:link.email additionalAttributes="{itemprop: 'email'}" email="{smallAd.email}"/>
                                        </li>
                                    </f:if>
                                </ul>
                            </f:if>
                        </div>
                    </div>
                </div>
                <hr class="mb-3 mt-0 vd-separator vd-separator-green-pattern">
            </f:for>
            <f:render arguments="{pagination: pagination, paginator: paginator}" partial="Pagination/Default"/>
        </f:then>
        <f:else>
            <p class="alert alert-info"><f:translate id="no_result"/></p>
        </f:else>
    </f:if>
</html>
