<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout/>
    <f:section name="Main">
        <f:if condition="{nextMeetingsByYear}">
            <f:for as="yearMeetings" each="{nextMeetingsByYear}" iteration="iterator">
                <f:if condition="{iterator.isFirst}">
                    <f:if condition="{f:count(subject: yearMeetings)} > 1">
                        <f:then><h2 id="next-meetings-title">Prochaines séances</h2></f:then>
                        <f:else><h2 id="next-meeting-title">Prochaine séance</h2></f:else>
                    </f:if>
                </f:if>
                <f:for as="meeting" each="{yearMeetings}" iteration="iterator">
                    <p>
                        <f:link.action action="gcMeetingShow" arguments="{meetingId: meeting.id}" controller="Meeting" id="next-meeting-details-link-{iterator.index}" pageUid="{settings.seanceGcDetailPageUid}">
                            {meeting.nomCourt}
                        </f:link.action>
                    </p>
                </f:for>
            </f:for>
        </f:if>
        <f:if condition="{passedMeetingsByYear}">
            <f:for as="yearMeetings" each="{passedMeetingsByYear}" iteration="iterator" key="year">
                <h2 id="meeting-title-{year}">{year} : Séances avec les décisions et commentaires</h2>
                <f:for as="meeting" each="{yearMeetings}">
                    <p>
                        <f:link.action action="gcMeetingShow" arguments="{meetingId: meeting.id}" controller="Meeting" id="meeting-details-link-{iterator.index}" pageUid="{settings.seanceGcDetailPageUid}">
                            {meeting.nomCourt}
                        </f:link.action>
                    </p>
                </f:for>
            </f:for>
        </f:if>
    </f:section>
</html>
