<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:if condition="{paginator.numberOfPages} > 1">
        <nav aria-label="{f:translate(extensionName: 'VdCore', id: 'pagination')}" class="vd-pagination">
            <ul class="vd-pagination__list">
                <f:if condition="{pagination.previousPageNumber}">
                    <li class="vd-pagination__item vd-pagination__item--previous">
                        <a class="vd-pagination__link" href="{f:uri.action(addQueryString: 1, arguments: {page: pagination.previousPageNumber}, argumentsToBeExcludedFromQueryString: {0: 'tx_typoscriptrendering'})}">
                            <span class="vd-pagination__title">
                                <span aria-hidden="true" class="fa-chevron-left fa-solid"></span>
                                {f:translate(extensionName: 'VdCore', id: 'previous_page')}
                            </span>
                            <span class="visually-hidden">:</span>
                            <span class="vd-pagination__label">
                                {f:translate(arguments: {0: pagination.previousPageNumber, 1: paginator.numberOfPages}, extensionName: 'VdCore', id: 'pagination_overall')}
                            </span>
                        </a>
                    </li>
                </f:if>
                <f:if condition="{pagination.nextPageNumber}">
                    <li class="vd-pagination__item vd-pagination__item--next">
                        <a class="vd-pagination__link" href="{f:uri.action(addQueryString: 1, arguments: {page: pagination.nextPageNumber}, argumentsToBeExcludedFromQueryString: {0: 'tx_typoscriptrendering'})}">
                            <span class="vd-pagination__title">
                                {f:translate(extensionName: 'VdCore', id: 'next_page')}
                                <span aria-hidden="true" class="fa-chevron-right fa-solid"></span>
                            </span>
                            <span class="visually-hidden">:</span>
                            <span class="vd-pagination__label">
                                {f:translate(arguments: {0: pagination.nextPageNumber, 1: paginator.numberOfPages}, extensionName: 'VdCore', id: 'pagination_overall')}
                            </span>
                        </a>
                    </li>
                </f:if>
            </ul>
        </nav>
    </f:if>
</html>
