<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <f:if condition="{resultSet.allResultCount} > 1">
        <f:then>
            <f:if condition="{categoryData}">
                <f:then><p><f:translate extensionName="VdSolr" id="results_count_with_cat_plural" arguments="{0: resultSet.allResultCount, 1: categoryData.title}"/></p></f:then>
                <f:else><p><f:translate extensionName="VdSolr" id="results_count_plural" arguments="{0: resultSet.allResultCount}"/></p></f:else>
            </f:if>
        </f:then>
        <f:else if="{resultSet.allResultCount} == 1">
            <f:if condition="{categoryData}">
                <f:then><p><f:translate extensionName="VdSolr" id="result_count_with_cat_singular" arguments="{0: resultSet.allResultCount, 1: categoryData.title}"/></p></f:then>
                <f:else><p><f:translate extensionName="VdSolr" id="result_count_singular" arguments="{0: resultSet.allResultCount}"/></p></f:else>
            </f:if>
        </f:else>
    </f:if>
</html>
