form#tx_vdsqlicalculetteaci_pi1 fieldset .err_mono,
form#tx_vdsqlicalculetteaci_pi1 fieldset .err_enfants,
form#tx_vdsqlicalculetteaci_pi1 fieldset .err_numeric,
 .revenuImposableICC_err,
 .tauxrevenuImposableICC_err,
 .fortuneImposableICC_err,
 .tauxfortuneImposableICC_err,
 .revenuImposableIFD_err,
 .tauxrevenuImposableIFD_err
{
    color: #FF0000;
}

form#tx_vdsqlicalculetteaci_pi1 fieldset .hidden
{
    display:none !important;
}

form#tx_vdsqlicalculetteaci_pi1 > fieldset .row, form#tx_vdsqlicalculetteaci_pi1 .form-check, .tx-vdsqlicalculetteaci-pi1 .margin-bottom-10
{
    margin-bottom: 10px;
}

form#tx_vdsqlicalculetteaci_pi1 .form-group2{
    margin-top: 20px;
    float: left;
    width: 100%;
}

form#tx_vdsqlicalculetteaci_pi1 #h2_vd_calculette_resultats{
}

.tx-vdsqlicalculetteaci-pi1 hr{
    margin-bottom: 2rem;
}


form#tx_vdsqlicalculetteaci_pi1 table{
    margin-bottom: 0;
}

.tx-vdsqlicalculetteaci-pi1 .detail_calcul_class table td{
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #02851a;
    font-size: 12px;
}

.tx-vdsqlicalculetteaci-pi1 .detail_calcul_class table th{
    color: #ffffff;
    background-color: #02851a;
    border: 1px solid #02851a;
    font-size: 14px;
}