<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" xmlns:vds="http://typo3.org/ns/Vd/VdSafarinet/ViewHelpers">
    <f:layout/>
    <f:section name="Main">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <strong class="heading">Auteur</strong>
                        <p>
                            <f:if condition="{object.prenom} && {object.nom}">
                                <f:then>{object.prenom} {object.nom}</f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <strong class="heading"><f:translate id="deposit_date_col"/></strong>
                        <p>
                            <f:if condition="{object.dateDepot}">
                                <f:then>
                                    <f:format.date date="{object.dateDepot}" format="d.m.Y"/>
                                </f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <strong class="heading"><f:translate id="pilot_department"/></strong>
                        <p><f:if condition="{object.pilote}">
                            <f:then>{object.pilote}</f:then>
                            <f:else>-</f:else>
                        </f:if></p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <strong class="heading"><f:translate id="support_department"/></strong>
                        <p><f:if condition="{object.autre}">
                            <f:then>{object.autre}</f:then>
                            <f:else>-</f:else>
                        </f:if></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <strong class="heading">Identifiant</strong>
                        <p>
                            <f:if condition="{object.id}">
                                <f:then>{object.id}</f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <strong class="heading">Commission</strong>
                        <p>
                            <f:if condition="{object.commission}">
                                <f:then>
                                    <f:link.action action="show" arguments="{groupId: object.commission.id, memberId: memberId}" controller="Group" id="object-commission-link" pageUid="{settings.groupDetailPageUid}" title="{object.commission.nom}">
                                        {object.commission.sigle}
                                    </f:link.action>
                                </f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <strong class="heading"><f:translate id="ce_response_deadline"/></strong>
                        <p>
                            <f:if condition="{object.dateDelaiReponse}">
                                <f:then>
                                    <f:format.date date="{object.dateDelaiReponse}" format="d.m.Y"/>
                                </f:then>
                                <f:else>-</f:else>
                            </f:if>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mb-4">
                <strong class="heading"><f:translate id="last_gc_decision"/></strong>
                <p><f:if condition="{object.derniereDecisionGC}">
                    <f:then>{object.derniereDecisionGC}</f:then>
                    <f:else>-</f:else>
                </f:if></p>
            </div>
            <f:if condition="{object.texte}">
                <div class="col-sm-12 mb-4">
                    <h2 id="text-title"><f:translate id="deposited_text"/></h2>
                    <f:format.html>{object.texte}</f:format.html>
                </div>
            </f:if>
            <f:if condition="{object.conclusion}">
                <div class="col-sm-12 mb-4">
                    <h2 id="conclusion-title"><f:translate id="conclusion"/></h2>
                    <f:format.html>{object.conclusion}</f:format.html>
                </div>
            </f:if>
            <f:if condition="{object.documents.document}">
                <div class="col-xs-12 mb-4">
                    <h2 id="documents-title"><f:translate id="documents"/></h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><f:translate id="link"/></th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <f:for as="document" each="{object.documents.document -> vds:format.toArrayList()}">
                                    <tr>
                                        <td>
                                            <span aria-hidden="true" class="fa fa-download"></span>&nbsp;<vds:document document="{document}"/>
                                        </td>
                                        <td>
                                            <f:if condition="{document.type}">
                                                <f:then>{document.type}</f:then>
                                                <f:else>-</f:else>
                                            </f:if>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                        </table>
                    </div>
                </div>
            </f:if>
            <f:if condition="{object.seances.seance}">
                <div class="col-xs-12 mb-4">
                    <h2 id="odj-meetings-title"><f:translate id="meetings_with_object"/></h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th><f:translate id="decision_col"/></th>
                                </tr>
                            </thead>
                            <tbody>
                                <f:for as="seance" each="{object.seances.seance -> vds:format.toArrayList()}">
                                    <tr>
                                        <td><f:format.date format="d.m.Y">{seance.dateSeance}</f:format.date></td>
                                        <td>
                                            <f:if condition="{seance.decision}">
                                                <f:then>{seance.decision}</f:then>
                                                <f:else>-</f:else>
                                            </f:if>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                        </table>
                    </div>
                </div>
            </f:if>
            <f:if condition="{object.signataires.membre}">
                <div class="col-xs-12 mb-4 mt-5">
                    <h2 id="cosigners-list-title"><f:translate id="cosigners_list"/></h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><f:translate id="cosigner_col"/></th>
                                    <th><f:translate id="party_col"/></th>
                                </tr>
                            </thead>
                            <tbody>
                                <f:for as="signataire" each="{object.signataires.membre -> vds:format.toArrayList()}">
                                    <tr>
                                        <td>{signataire.prenom} {signataire.nom}</td>
                                        <td>
                                            <f:if condition="{signataire.parti}">
                                                <f:then>{signataire.parti}</f:then>
                                                <f:else>-</f:else>
                                            </f:if>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                        </table>
                    </div>
                </div>
            </f:if>
            <f:render arguments="{memberId: memberId}" partial="Member/Back"/>
        </div>
    </f:section>
</html>
