.app-loading-spinner {
    background: #f2f2f0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition: opacity .4s, visibility .4s;
    color: #5e717d;
}
.app-loading-spinner::before {
    display: block;
    content: "";
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48cGF0aCBkPSJNOTggNTBoMmMwIDI3LjYxNC0yMi4zODYgNTAtNTAgNTBTMCA3Ny42MTQgMCA1MCAyMi4zODYgMCA1MCAwdjJDMjMuNDkgMiAyIDIzLjQ5IDIgNTBzMjEuNDkgNDggNDggNDggNDgtMjEuNDkgNDgtNDh6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    animation: app-loading-rotate-spinner .6s linear infinite;
}

@keyframes app-loading-rotate-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
