<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Columns"/>
    <f:section name="Content">
        <f:render arguments="{children: children_200, css: 'col-12 col-md-3 col-sm-6'}" partial="Column"/>
        <f:render arguments="{children: children_210, css: 'col-12 col-md-3 col-sm-6'}" partial="Column"/>
        <f:render arguments="{children: children_220, css: 'col-12 col-md-3 col-sm-6'}" partial="Column"/>
        <f:render arguments="{children: children_230, css: 'col-12 col-md-3 col-sm-6'}" partial="Column"/>
    </f:section>
</html>
