<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:link.action action="show" arguments="{prestation: link.data.uid}" class="align-items-center border-bottom border-1 {borderColor} col-12 d-flex justify-content-between mb-4 pb-3 text-decoration-none text-inherit" controller="Prestation" extensionName="VdPrestations" id="services-link-{link.data.uid}" pageUid="{settings.services.detailPid}" pluginName="Pi4">
        {link.data.title} <span aria-hidden="true" class="fa-chevron-right fa-solid"></span>
    </f:link.action>
</html>
