<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <h2 id="in-this-theme-title"><f:translate id="in_this_theme"/></h2>
    <div class="vd-bg-pattern-green p-3 mb-1">
        <f:if condition="{prestations}">
            <ul class="nav vd-list-boxed flex-column">
                <f:for as="prestation" each="{prestations}" iteration="iterator">
                    <li class="nav-item">
                        <f:link.action action="show" arguments="{prestation: prestation.uid}" class="nav-link d-inline-block" id="prestation-details-link-{iterator.index}" pageUid="{settings.singlePid}">
                            {prestation.title}
                        </f:link.action>
                    </li>
                </f:for>
            </ul>
        </f:if>
        <f:if condition="{settings.longListPageId}">
            <p class="mb-0">
                <f:link.page class="btn btn-dark btn-sm " id="prestations-list-link" pageUid="{settings.longListPageId}" title="Afficher toutes les prestations">
                    <f:translate id="see_all"/><span class='visually-hidden'>es les prestations</span>
                </f:link.page>
            </p>
        </f:if>
    </div>
</html>
