<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vdp="http://typo3.org/ns/Vd/VdPrestations/ViewHelpers">
    <f:layout name="Show"/>
    <f:section name="Content">
        <div class="row">
            <div class="col-md-8">
                <section class="mb-5">
                    <h2 class="visually-hidden" id="introductions-title">Introduction</h2>
                    <f:format.html>{prestation.description}</f:format.html>
                </section>
                <f:if condition="{prestation.prerequisites}">
                    <section class="mb-5">
                        <h2 id="conditions-title"><f:translate id="conditions_title"/></h2>
                        <f:format.html>{prestation.prerequisites}</f:format.html>
                    </section>
                </f:if>
                <f:if condition="{accessModalities -> f:count()} > 0">
                    <section class="accordion accordion-standalone mt-5 mb-5" id="accordion-modalities">
                        <h2 class="mt-0" id="how-to"><f:translate id="how_to_proceed"/></h2>
                        <f:for as="accessModality" each="{accessModalities}" iteration="iterator">
                            <div id="{iterator.index}" class="accordion-item mt-2">
                                <h2 class="accordion-header mt-0" id="heading-modalities-{accessModality.uid}">
                                    <button aria-controls="collapse-modalities-{accessModality.uid}" aria-expanded="{f:if(condition: iterator.isFirst, then: 'true', else: 'false')}" class="accordion-button{f:if(condition: iterator.isFirst, else: ' collapsed')}" data-bs-target="#collapse-modalities-{accessModality.uid}" data-bs-toggle="collapse" data-search-field="1" type="button">
                                        <strong><f:translate id="prestation.{accessModality.type}.title"/></strong>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse{f:if(condition: iterator.isFirst, then: ' show')}" id="collapse-modalities-{accessModality.uid}">
                                    <div class="accordion-body">
                                        <f:format.html>{accessModality.howto}</f:format.html>
                                        <f:if condition="{accessModality.url}">
                                            <f:if condition="{accessModality.securityLevel} == 'AUTHORIZATION' || {accessModality.securityLevel} == 'LOGIN'">
                                                <f:then>
                                                    <f:render arguments="{accessModality: accessModality, online: '{accessModality.type} == \'online\'', open: iterator.isFirst, title: prestation.title}" section="accessModalityLink"/>
                                                </f:then>
                                                <f:else>
                                                    <f:render arguments="{accessModality: accessModality, open: iterator.isFirst, title: prestation.title}" section="accessModalityLink"/>
                                                </f:else>
                                            </f:if>
                                        </f:if>
                                    </div>
                                </div>
                            </div>
                        </f:for>
                    </section>
                </f:if>
                <f:if condition="{vdp:isInformationVisible()}">
                    <section id="4" class="accordion accordion-standalone mt-5 mb-5">
                        <h2 class="mt-0" id="addition-information"><f:translate id="prestation.highlight.additional_informations"/></h2>
                        <f:if condition="{prestation.emolument}">
                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header mt-0" id="heading-other-emolument">
                                    <button aria-controls="collapse-other-emolument" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapse-other-emolument" data-bs-toggle="collapse" data-search-field="1" type="button">
                                        <span class="visually-hidden"><f:translate id="how_much_cost"/></span>
                                        <strong><f:translate id="how_much_cost"/></strong>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapse-other-emolument">
                                    <div class="accordion-body">
                                        <f:format.html>{prestation.emolument}</f:format.html>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{prestation.helpLink}">
                            <section class="p-3 order-1 vd-bg-pattern-gray mt-5 mb-5">
                                <h2 class="mt-0" id="help-support-title"><f:translate id="who_can_help"/></h2>
                                <p><f:translate id="contact_us_question"/></p>
                                <p class="d-flex justify-content-center">
                                    <a class="btn btn-dark" href="{prestation.helpLink}" id="help-and-support-link" title="{f:translate(id: 'contact_us_button')}">
                                        <f:translate id="contact_us_button"/>
                                    </a>
                                </p>
                            </section>
                        </f:if>
                        <f:if condition="{prestation.relatedPrestations}">
                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header mt-0" id="heading-other-prestation">
                                    <button aria-controls="collapse-other-prestation" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapse-other-prestation" data-bs-toggle="collapse" data-search-field="1" type="button">
                                        <span class="visually-hidden"><f:translate id="related_procedures"/></span>
                                        <strong><f:translate id="related_procedures"/></strong>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapse-other-prestation">
                                    <div class="accordion-body">
                                        <ul class="vd-list-links">
                                            <f:for as="relatedPrestation" each="{prestation.relatedPrestations}" iteration="iterator">
                                                <li>
                                                    <f:link.action action="show" arguments="{prestation: relatedPrestation}" controller="Prestation" id="related-prestation-link-{iterator.index}">
                                                        {relatedPrestation.title}
                                                    </f:link.action>
                                                </li>
                                            </f:for>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{prestation.legalReferences}">
                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header mt-0" id="heading-other-reference">
                                    <button aria-controls="collapse-other-reference" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapse-other-reference" data-bs-toggle="collapse" data-search-field="1" type="button">
                                        <span class="visually-hidden"><f:translate id="legal_references"/></span>
                                        <strong><f:translate id="legal_references"/></strong>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapse-other-reference">
                                    <div class="accordion-body">
                                        <ul class="vd-list-links">
                                            <f:for as="legalReference" each="{prestation.legalReferences}" iteration="iterator">
                                                <li>
                                                    <a href="{legalReference.url}" id="legal-reference-link-{iterator.index}">{legalReference.title}</a>
                                                </li>
                                            </f:for>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{prestation.relatedPages}">
                            <div class="accordion-item mt-2">
                                <h2 class="accordion-header mt-0" id="heading-other-formulaire">
                                    <button aria-controls="collapse-other-formulaire" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapse-other-formulaire" data-bs-toggle="collapse" data-search-field="1" type="button">
                                        <span class="visually-hidden"><f:translate id="related_pages_forms"/></span>
                                        <strong><f:translate id="related_pages_forms"/></strong>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="collapse-other-formulaire">
                                    <div class="accordion-body">
                                        <ul class="vd-list-links">
                                            <f:for as="relatedPage" each="{prestation.relatedPages}" iteration="iterator">
                                                <li><a href="{relatedPage.url}" id="related-page-link-{iterator.index}">{relatedPage.title}</a></li>
                                            </f:for>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                    </section>
                </f:if>
            </div>
        </div>
    </f:section>
    <f:section name="accessModalityLink">
        <div class="d-flex justify-content-between flex-wrap">
            <f:if condition="{vdp:isHighLightVisible()}">
                <div class="flex-grow-1">
                    <button aria-controls="more-info-collapse-{accessModality.uid}" aria-expanded="{f:if(condition: open, then: 'true', else: 'false')}" class="btn btn-more{f:if(condition: open, else: ' collapsed')} fs-6 p-0 pb-2 text-primary text-xs-start" data-bs-target="#more-info-collapse-{accessModality.uid}" data-bs-toggle="collapse" id="more-info-button" type="button">
                        <span aria-hidden="true" class="fa-chevron-down fa-solid text-inherit" id="more-info-icon"></span>
                        <span class="link-text link-text-closed ps-1">{vdp:getHighLightTitles(before: '{f:translate(id: \'more_information\')} ')}</span>
                        <span class="link-text link-text-opened ps-1">{vdp:getHighLightTitles(before: '{f:translate(id: \'less_information\')} ')}</span>
                    </button>
                </div>
                <div class="collapse highlight-dark mb-3 vd-highlight w-100 p-4{f:if(condition: open, then: ' show')}" id="more-info-collapse-{accessModality.uid}">
                    <f:if condition="{accessModality.requiredDocuments}">
                        <h3 class="h5"><f:translate id="required_documents"/></h3>
                        <f:format.html>{accessModality.requiredDocuments}</f:format.html>
                    </f:if>
                    <f:if condition="{accessModality.cost}">
                        <h3 class="h5"><f:translate id="how_much_cost"/></h3>
                        <p>{accessModality.cost}.-</p>
                    </f:if>
                    <f:if condition="{accessModality.averageDelay}">
                        <h3 class="h5"><f:translate id="what_is_delay"/></h3>
                        <f:format.html>{accessModality.averageDelay}</f:format.html>
                    </f:if>
                    <f:if condition="{accessModality.additionalInformations}">
                        <h3 class="h5"><f:translate id="tx_vdprestations_domain_model_accessmodality.additional_informations"/></h3>
                        <f:format.html>{accessModality.additionalInformations}</f:format.html>
                    </f:if>
                    <f:if condition="{online}">
                        <div class="d-flex flex-grow-1 justify-content-center">
                            <a href="https://www.vd.ch/demande-mie" id="request-access-link-{iterator.index}" title="{f:translate(id: 'request_portal_access')}">
                                <f:translate id="request_portal_access"/>
                            </a>
                        </div>
                    </f:if>
                </div>
            </f:if>
            <div class="d-flex flex-grow-1 justify-content-end">
                <a class="btn btn-success" href="{vdp:accessModality(accessModality: accessModality)}" id="start-prestation-link" title="{f:translate(id: 'start_action')} {title}">
                    <f:translate id="start_action"/> {f:translate(id: 'prestation.{accessModality.type}.title')}
                </a>
            </div>
        </div>
    </f:section>
</html>
